{% case include.category %}
{% when 'retro-computing' %}
	{% assign category_icon = 'floppy-o' %}
{% when 'site-info' %}
	{% assign category_icon = 'info-circle' %}
{% when 'work' %}
	{% assign category_icon = 'industry' %}
{% when 'coding' %}
	{% assign category_icon = 'code' %}
{% when 'food' %}
	{% assign category_icon = 'cutlery' %}
{% when 'embedded-systems' %}
	{% assign category_icon = 'wrench' %}
{% when 'photography' %}
	{% assign category_icon = 'camera-retro' %}
{% when 'daily' %}
	{% assign category_icon = 'coffee' %}
{% when 'electronics' %}
	{% assign category_icon = 'signal' %}
{% else %}
	{% assign category_icon = 'folder-o' %}
{% endcase %}
{% unless category == null %}
<a href="/categories/#{{ category }}" title="See all posts in '{{ category }}'">{% endunless %}
<i class="fa fa-{{category_icon}} w3-{{include.iconsize}}"></i>{% unless category == "" %}</a>
{% endunless %}
