{% case include.category %}
{% when 'retro-computing' %}
	{% assign category_icon = 'recycle' %}
{% when 'site-info' %}
	{% assign category_icon = 'info-circle' %}
{% when 'work' %}
	{% assign category_icon = 'building' %}
{% when 'coding' %}
	{% assign category_icon = 'code' %}
{% when 'food' %}
	{% assign category_icon = 'fire' %}
{% when 'embedded-systems' %}
	{% assign category_icon = 'cogs' %}
{% else %}
	{% assign category_icon = 'folder-o' %}
{% endcase %}
{% unless category == null %}
<a href="/categories/#{{ category }}" title="See all posts in '{{ category }}'">{% endunless %}
<i class="fa fa-{{category_icon}} w3-{{include.iconsize}}"></i>{% unless category == "" %}</a>
{% endunless %}
