<head>
  <meta charset="utf-8">
  <meta name="keywords" content="blog,technology,{{ page.tags | join: "," }}">
  <meta name="Description" lang="en" content="{{ site.tagline }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="robots" content="index, follow">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- icons -->
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="/assets/css/w3.css">
  <link rel="stylesheet" href="/assets/css/w3-theme-blue-grey.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/css/github-light.css">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">

  <!-- icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>