<nav class="w3-sidenav w3-theme" style="display:none">
	<a href="javascript:void(0)" onclick="w3_close()"
		class="w3-closenav w3-xlarge"><i class="fa fa-xmark fa-fw"></i></a>
	<a href="/"><i class="fa fa-terminal w3-small fa-fw"></i> Home</a>
	<a href="/archive"><i class="fa fa-box-archive w3-small fa-fw"></i> Archive</a>
	<a href="/pages"><i class="fa fa-file w3-small fa-fw"></i> Pages</a>
	<a href="/tags"><i class="fa fa-tags w3-small fa-fw"></i> Tags</a>
	<a href="/categories"><i class="fa fa-sitemap w3-small fa-fw"></i> Categories</a>
	<a href="/atom.xml"><i class="fa fa-rss w3-small fa-fw"></i> Atom</a>
	<a href="https://about.me/jverne"><i class="fa fa-link w3-small fa-fw"></i> About Me</a>
</nav>