
/* Single styles and one-offs */
.nolink {
	text-decoration: none;
}

.inline ul li {
	list-style-type: none;
}

.inline {
	display: inline;
}

.super {
	font-size: x-small;
	vertical-align: super;
}

html {
	font-size: 100%;
}

body {
	font-size: 0.875em;
}
	@media only screen and (min-width: 768px) {
		body {
			font-size: 1em;
		}
	}

