---
layout: default
---

<article class="w3-container">
	<!-- article header -->
	<header>
		<hgroup>
		{% assign page_category = page.categories | first %}
		<h2 class="w3-xlarge">{% include category_icon.html category=page_category iconsize="large" %} {{ page.title }}</h2>
		<time datetime="{{ page.date | date_to_xmlschema }}"><em>{{ page.date | date: "%a, %d %b %Y %R %Z" }}</em></time>
		</hgroup>

		<!-- post metadata -->
		<hgroup class="w3-margin-8">
		<ul class="w3-ul w3-tiny w3-theme-light w3-card">
		<li><i class="fa-solid fa-link"></i>
			<a title="Permalink to '{{ page.title }}'"
			href="{{ page.url }}">{{ page.title }}</a></li>
		{% if page.categories != empty %}
		<li><i class="fa-solid fa-sitemap"></i> {% for cat in page.categories %}
			<a title="See all posts in category '{{ cat }}'" href="/categories/#{{ cat }}">{{ cat }}</a> {% endfor %}</li>
		{% endif %}
		<li>{% assign tags = page.tags | sort %}
			{% for tag in tags %}
			<i class="fa-solid fa-tag"></i>
			<a title="See all posts tagged '{{ tag }}'"
			href="/tags/#{{ tag }}">{{ tag | downcase }}</a>
			{% endfor %}</li>
		<li>
			<!-- post navigation -->
			<nav>
				{% if page.previous.title %}
				<i class="fa-solid fa-circle-chevron-left"></i>
				<a title="Go back to '{{ page.previous.title }}'" href="{{ page.previous.url }}">Previous</a>
				{% else %}
				<i class="fa-solid fa-circle"></i>
				Previous
				{% endif %}
				&middot;
				<a title="Go to all posts" href="/archive">Archive</a>
				&middot;
				{% if page.next.title %}
				<a title="Go to next post '{{ page.next.title }}'" href="{{ page.next.url }}">Next</a>
				<i class="fa-solid fa-circle-chevron-right"></i>
				{% else %}
				Next
				<i class="fa-solid fa-circle"></i>
				{% endif %}</nav></li>
		</ul>
		</hgroup>
	</header>



	<!-- article contents -->
	<section>{{ content }}</section>
</article>
